In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('cls_train.csv')
test_df = pd.read_csv('cls_test.csv')

In [3]:
for i in range(58):
  if train_df[train_df.columns[i]].dtype != test_df[test_df.columns[i]].dtype:
    print(train_df.columns[i], 'train : ', train_df[train_df.columns[i]].dtype, 'test :', test_df[test_df.columns[i]].dtype)

OC train :  object test : float64
openDate train :  int64 test : float64
employee1 train :  float64 test : object
employee2 train :  float64 test : object

In [4]:
train_df.OC.value_counts()

open      286
 close     15
Name: OC, dtype: int64

In [5]:
train_df.OC = train_df.OC.astype(str).str.replace(' ','')

In [6]:
for i in range(len(test_df)):
  if len(str(test_df.openDate[i])) != 8:
    print(i, str(test_df.openDate[i]))

0 19981125.0
1 20160309.0
2 19890427.0
3 20100226.0
4 20040604.0
5 20081224.0
6 20020513.0
7 20070110.0
8 20151209.0
9 19851223.0
10 20071109.0
11 20080404.0
12 19820630.0
13 20080801.0
14 20030102.0
15 19950330.0
16 20080901.0
17 20070817.0
18 20000308.0
19 20130208.0
20 19970228.0
21 19990708.0
22 20060629.0
23 20160408.0
24 20000901.0
25 20051207.0
26 19940411.0
27 20140912.0
28 20061017.0
29 19760409.0
30 19971230.0
31 20080407.0
32 20001227.0
33 19880803.0
34 20070115.0
35 20121030.0
36 20110901.0
37 20070808.0
38 20091014.0
39 19880524.0
40 20081210.0
41 20060724.0
42 20130422.0
43 19930101.0
44 19820520.0
45 20110901.0
46 20090218.0
47 20141106.0
48 20111006.0
49 20081226.0
50 19830822.0
51 20060929.0
52 20050321.0
53 20081223.0
54 19990504.0
55 20061108.0
56 20121218.0
57 20051201.0
58 20120120.0
59 20131202.0
60 20150611.0
61 20030102.0
62 20100914.0
63 20150828.0
64 20051014.0
65 19960501.0
66 20121005.0
67 20140313.0
68 20150112.0
69 20060927.0
70 19960716.0
71 20170531.0
72 20170531.0
73 19880906.0
74 20050509.0
75 19950706.0
76 20130206.0
77 19940708.0
78 19881017.0
79 20150204.0
80 20101223.0
81 20090219.0
82 19880801.0
83 20150124.0
84 20111222.0
85 20131128.0
86 20071224.0
87 19960308.0
88 20050503.0
89 20070914.0
90 20160329.0
91 20120220.0
92 19880826.0
93 20100531.0
94 20071023.0
95 20090508.0
96 19990212.0
97 20100423.0
98 20060621.0
99 20100226.0
100 20080804.0
101 20110404.0
102 20080807.0
103 20121030.0
104 20120618.0
105 20130523.0
106 20100913.0
107 19970422.0
108 20060401.0
109 20000801.0
110 20120503.0
111 19990610.0
112 20161229.0
113 20161229.0
114 20130722.0
115 20070912.0
116 20080602.0
117 20131226.0
118 20110926.0
119 19930614.0
120 nan
121 20110415.0
122 20011012.0
123 20010530.0
124 20010101.0
125 20010201.0
126 19961216.0

In [7]:
train_df.openDate = train_df.openDate.astype(float)

In [8]:
for i in range(len(test_df.employee1)):
  try:float(test_df.employee1[i])
  except:print(test_df.employee1[i])

1,637
1,816
1,065

In [9]:
for i in range(len(test_df.employee2)):
  try:float(test_df.employee2[i])
  except:print(test_df.employee2[i])

1,547
1,104
1,065

In [10]:
test_df.employee1 = test_df.employee1.astype(str).str.replace(',','').astype(float)
test_df.employee2 = test_df.employee2.astype(str).str.replace(',','').astype(float)

In [11]:
train_df.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228.0,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401.0,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228.0,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814.0,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901.0,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [12]:
test_df.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,2,NaN,incheon,139,19981125.0,300.0,general_hospital,6.682486e+10,0.000000e+00,6.565709e+10,...,5.540643e+10,5.068443e+10,3.714334e+10,4.720000e+09,4.690000e+09,1.608540e+10,8.944587e+09,693.0,693.0,same
1,5,NaN,jeju,149,20160309.0,44.0,hospital,3.495758e+10,0.000000e+00,3.259270e+10,...,6.730838e+10,4.209828e+10,2.420000e+10,2.521009e+10,1.830000e+10,3.789135e+09,0.000000e+00,379.0,371.0,same
2,6,NaN,jeonnam,103,19890427.0,276.0,general_hospital,2.326031e+10,2.542571e+09,2.308749e+10,...,0.000000e+00,2.777589e+10,2.182278e+10,0.000000e+00,0.000000e+00,0.000000e+00,1.638540e+10,NaN,NaN,NaN
3,8,NaN,busan,71,20100226.0,363.0,general_hospital,0.000000e+00,0.000000e+00,0.000000e+00,...,1.211517e+10,9.556237e+09,4.251867e+09,2.558931e+09,0.000000e+00,3.914284e+10,0.000000e+00,760.0,760.0,same
4,10,NaN,jeonbuk,26,20040604.0,213.0,general_hospital,5.037025e+10,0.000000e+00,4.855803e+10,...,4.395973e+10,7.535567e+09,3.298427e+09,3.642417e+10,2.134712e+10,2.574488e+10,1.507269e+10,437.0,385.0,same

In [13]:
print(len(train_df), len(test_df))

301 127

In [14]:
train_df.dropna()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228.0,175.0,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
2,4,open,gyeonggi,89,20161228.0,468.0,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814.0,353.0,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901.0,196.0,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same
5,11,open,gyeongnam,155,20020501.0,243.0,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,...,0.000000e+00,2.186113e+10,1.708714e+10,2.000000e+07,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,417,open,gyeonggi,169,20020401.0,306.0,general_hospital,1.000000e+11,2.647023e+10,6.427413e+10,...,4.912228e+10,8.952459e+09,0.000000e+00,4.016982e+10,1.216840e+09,3.309314e+10,4.915000e+08,807.0,583.0,same
293,418,open,gyeonggi,170,20120312.0,109.0,hospital,4.303270e+09,2.423876e+08,3.455912e+09,...,5.062574e+09,3.092828e+09,0.000000e+00,1.969747e+09,1.925500e+09,2.637783e+09,0.000000e+00,75.0,70.0,same
294,419,open,gyeongnam,174,20101104.0,367.0,nursing_hospital,1.207963e+10,5.309241e+08,9.521440e+09,...,7.191291e+09,1.101291e+09,2.813239e+08,6.090000e+09,5.890000e+09,9.065227e+09,0.000000e+00,180.0,180.0,same
295,420,open,gyeonggi,177,20110523.0,0.0,nursing_hospital,5.500472e+09,0.000000e+00,4.883855e+09,...,3.945343e+09,7.113988e+08,0.000000e+00,3.233945e+09,1.800000e+09,4.337819e+09,0.000000e+00,62.0,66.0,same
296,422,open,jeonnam,178,20050211.0,214.0,nursing_hospital,7.614697e+09,4.153475e+08,5.903119e+09,...,9.423771e+09,2.618201e+09,0.000000e+00,6.805570e+09,5.930000e+09,5.379502e+09,8.116416e+08,193.0,141.0,same

In [15]:
test_df[test_df.columns[2:]].dropna()

,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,salary1,noi1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,incheon,139,19981125.0,300.0,general_hospital,6.682486e+10,0.000000e+00,6.565709e+10,3.223695e+10,4.314093e+09,...,5.540643e+10,5.068443e+10,3.714334e+10,4.720000e+09,4.690000e+09,1.608540e+10,8.944587e+09,693.0,693.0,same
1,jeju,149,20160309.0,44.0,hospital,3.495758e+10,0.000000e+00,3.259270e+10,1.672254e+10,6.871024e+07,...,6.730838e+10,4.209828e+10,2.420000e+10,2.521009e+10,1.830000e+10,3.789135e+09,0.000000e+00,379.0,371.0,same
3,busan,71,20100226.0,363.0,general_hospital,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.850652e+09,...,1.211517e+10,9.556237e+09,4.251867e+09,2.558931e+09,0.000000e+00,3.914284e+10,0.000000e+00,760.0,760.0,same
4,jeonbuk,26,20040604.0,213.0,general_hospital,5.037025e+10,0.000000e+00,4.855803e+10,2.296346e+10,1.534452e+09,...,4.395973e+10,7.535567e+09,3.298427e+09,3.642417e+10,2.134712e+10,2.574488e+10,1.507269e+10,437.0,385.0,same
5,gyeonggi,122,20081224.0,220.0,general_hospital,4.381654e+10,1.005131e+10,2.926493e+10,1.971545e+10,3.260367e+09,...,4.545911e+10,2.475716e+10,1.755790e+10,2.070195e+10,1.716934e+10,2.480949e+10,0.000000e+00,386.0,397.0,same
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,gyeongnam,155,20080602.0,170.0,hospital,7.897861e+09,8.668840e+08,6.393699e+09,3.553658e+09,3.082714e+07,...,3.859568e+09,7.092447e+08,0.000000e+00,3.150323e+09,3.150323e+09,5.881965e+09,1.299147e+09,104.0,98.0,same
117,choongnam,159,20131226.0,148.0,nursing_hospital,4.094378e+09,0.000000e+00,4.062433e+09,2.025038e+09,2.445844e+06,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,60.0,57.0,same
118,choongnam,159,20110926.0,149.0,nursing_hospital,1.713748e+09,1.540489e+08,1.544841e+09,9.090099e+08,3.180204e+07,...,4.400509e+08,4.400509e+08,0.000000e+00,0.000000e+00,0.000000e+00,2.109904e+09,0.000000e+00,19.0,19.0,same
119,choongbuk,165,19930614.0,136.0,nursing_hospital,3.094658e+09,2.227340e+08,2.657350e+09,1.980105e+09,3.201072e+07,...,4.729688e+09,6.958036e+08,0.000000e+00,4.033884e+09,3.005151e+09,2.661298e+09,0.000000e+00,49.0,40.0,same
121,gyeonggi,177,20110415.0,167.0,nursing_hospital,4.471030e+08,1.423339e+08,2.581514e+08,1.191270e+08,1.181978e+07,...,1.022401e+09,4.924418e+07,0.000000e+00,9.731573e+08,0.000000e+00,1.228137e+09,0.000000e+00,111.0,111.0,same

##### Train : 301 -> 277
##### Test : 127 -> 102

In [16]:
train_df = train_df.dropna().reset_index()
test_df = test_df[test_df.columns[2:]].dropna().reset_index()
test_df['OC'] = np.nan

In [17]:
train_df.select_dtypes(include = ['object']).columns

Index(['OC', 'sido', 'instkind', 'ownerChange'], dtype='object')

## Encoding

In [18]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
encoded_x = None
for i in train_df.select_dtypes(include = ['object']).columns:
  le = LabelEncoder()
  if i == 'OC':
    train_df.OC = le.fit_transform(train_df.OC)
  else:
    feature = le.fit_transform(train_df[i])
    feature = feature.reshape(train_df.shape[0], 1)
    onehot_encoder = OneHotEncoder(sparse=False)
    feature = onehot_encoder.fit_transform(feature)
    if encoded_x is None:
      encoded_x = pd.DataFrame(feature)
    else:
      encoded_x = pd.concat((encoded_x, pd.DataFrame(feature)), axis=1)

In [19]:
encoded_x

,0,1,2,3,4,5,6,7,8,9,...,15,0,1,2,3,4,5,6,0,1
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [20]:
col = []
for i in range(3):
  col.extend(train_df[train_df.select_dtypes(include = ['object']).columns].iloc[:,i].unique())

In [21]:
encoded_x.columns = col
encoded_x

,choongnam,gyeonggi,incheon,gyeongnam,busan,jeonnam,seoul,jeonbuk,choongbuk,ulsan,...,sejong,nursing_hospital,general_hospital,hospital,traditional_clinic,clinic,dental_clinic,traditional_hospital,same,change
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
274,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
275,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [22]:
final_train = pd.concat((train_df.drop(columns = train_df.select_dtypes(include = ['object']).columns), encoded_x), axis = 1).iloc[:,2:]

In [23]:
final_train

,OC,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,sejong,nursing_hospital,general_hospital,hospital,traditional_clinic,clinic,dental_clinic,traditional_hospital,same,change
0,1,73,20071228.0,175.0,4.217530e+09,0.000000e+00,3.961135e+09,2.033835e+09,1.565244e+07,1.523624e+07,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1,89,20161228.0,468.0,1.004522e+09,5.154837e+08,4.472197e+08,2.964023e+08,7.615600e+04,3.000000e+04,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1,141,20000814.0,353.0,7.250734e+10,0.000000e+00,7.067740e+10,3.178605e+10,5.062231e+08,1.259568e+09,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1,32,20050901.0,196.0,4.904354e+10,0.000000e+00,4.765605e+10,2.446078e+10,1.123523e+08,1.419089e+09,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1,155,20020501.0,243.0,3.358054e+10,9.222997e+09,2.372791e+10,1.665533e+10,6.541432e+07,7.412694e+08,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,1,169,20020401.0,306.0,1.000000e+11,2.647023e+10,6.427413e+10,4.302536e+10,6.959476e+09,8.294444e+09,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
273,1,170,20120312.0,109.0,4.303270e+09,2.423876e+08,3.455912e+09,2.228914e+09,3.840153e+06,2.678230e+08,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
274,1,174,20101104.0,367.0,1.207963e+10,5.309241e+08,9.521440e+09,5.691328e+09,4.977374e+07,1.151424e+09,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
275,1,177,20110523.0,0.0,5.500472e+09,0.000000e+00,4.883855e+09,2.653680e+09,6.268103e+07,3.831812e+08,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
276,1,178,20050211.0,214.0,7.614697e+09,4.153475e+08,5.903119e+09,3.467861e+09,4.209897e+07,7.439421e+08,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0