In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train_regression.csv')

In [3]:
df.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [48]:
for i in df['지역'].unique():
    print(i, df[df['지역'] == i].shape[0],(df[df['지역'] == i].shape[0] - df[df['지역'] == i]['임대보증금'].isna().sum()) / df[df['지역'] == i].shape[0])

경상북도 119 1.0
경상남도 268 1.0
대전광역시 111 1.0
경기도 621 1.0
전라북도 109 1.0
강원도 156 1.0
광주광역시 141 1.0
부산광역시 108 1.0
제주특별자치도 66 1.0
울산광역시 36 1.0
충청북도 163 1.0
전라남도 151 1.0
충청남도 44 1.0
대구광역시 102 1.0
서울특별시 64 1.0
세종특별자치시 47 1.0

In [49]:
df = df.dropna()

In [29]:
df['임대료'].value_counts()

-         21
390000    19
79980     18
100920    16
167230    15
          ..
289880     1
296720     1
145840     1
242480     1
151030     1
Name: 임대료, Length: 995, dtype: int64

In [33]:
df[df['임대료'] == '-']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2043,C1397,370,아파트,서울특별시,장기전세,23.32,51,9.0,A,87444000,-,0.0,3.0,1590.0,1595.0
2044,C1397,370,아파트,서울특별시,장기전세,46.79,4,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2045,C1397,370,아파트,서울특별시,장기전세,46.91,69,9.0,A,174888000,-,0.0,3.0,1590.0,1595.0
2046,C1397,370,아파트,서울특별시,장기전세,51.96,24,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2047,C1397,370,아파트,서울특별시,장기전세,51.99,80,9.0,A,194562000,-,0.0,3.0,1590.0,1595.0
2048,C1397,370,아파트,서울특별시,장기전세,59.93,142,9.0,A,216423000,-,0.0,3.0,1590.0,1595.0
2100,C1039,790,아파트,서울특별시,장기전세,51.32,126,13.0,A,187694000,-,0.0,3.0,673.0,645.0
2101,C1039,790,아파트,서울특별시,장기전세,59.88,49,13.0,A,213863000,-,0.0,3.0,673.0,645.0
2102,C1039,790,아파트,서울특별시,장기전세,59.94,75,13.0,A,213863000,-,0.0,3.0,673.0,645.0
2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,-,-,0.0,4.0,1670.0,1153.0
2680,C1786,480,아파트,강원도,행복주택,16.91,156,25.0,K,-,-,0.0,3.0,338.0,345.0
2681,C1786,480,아파트,강원도,행복주택,26.90,136,25.0,K,-,-,0.0,3.0,338.0,345.0
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,-,-,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,-,-,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,-,-,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,-,-,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,-,-,0.0,8.0,664.0,744.0

In [34]:
df['임대료'] = df['임대료'].replace('-',0)
df['임대보증금'] = df['임대보증금'].replace('-',0)

In [50]:
df['임대료'] = df['임대료'].astype(int)
df['임대보증금'] = df['임대보증금'].astype(int)

In [39]:
df.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [131]:
col = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '공가수',
       '자격유형', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수']

In [132]:
aggregation = {
    '전용면적':'mean',
    '임대보증금':'mean',
    '임대료':'mean'
}

In [133]:
df_gp = pd.DataFrame(df.groupby(col).agg(aggregation)).reset_index()

In [134]:
df_gp

,단지코드,총세대수,임대건물구분,지역,공급유형,공가수,자격유형,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,전용면적,임대보증금,임대료
0,C1000,566,아파트,충청북도,국민임대,10.0,A,0.0,1.0,438.0,481.0,45.218571,1.320357e+07,121064.285714
1,C1013,1308,아파트,광주광역시,국민임대,16.0,A,0.0,6.0,1119.0,1665.0,46.142000,2.492480e+07,134726.000000
2,C1014,996,아파트,전라북도,국민임대,5.0,A,0.0,2.0,823.0,708.0,49.232857,2.389400e+07,160488.571429
3,C1015,961,아파트,부산광역시,국민임대,28.0,A,0.0,3.0,928.0,579.0,46.047500,1.587125e+07,136192.500000
4,C1017,1460,아파트,대전광역시,국민임대,27.0,A,0.0,2.0,1534.0,1246.0,36.836667,1.991700e+07,229706.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,C2663,772,아파트,경기도,국민임대,14.0,H,0.0,3.0,700.0,652.0,41.005000,3.025867e+07,269070.000000
452,C2666,1084,아파트,부산광역시,국민임대,23.0,A,0.0,1.0,837.0,701.0,43.258333,1.889050e+07,133145.000000
453,C2670,648,아파트,전라북도,국민임대,9.0,A,0.0,2.0,600.0,435.0,40.918000,1.635000e+07,115188.000000
454,C2680,758,아파트,경상남도,국민임대,19.0,A,0.0,7.0,564.0,590.0,43.350000,2.360633e+07,129816.666667
455,C2692,499,아파트,경상북도,국민임대,19.0,A,0.0,2.0,409.0,437.0,43.570000,1.579360e+07,117848.000000

In [61]:
df_gp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          456 non-null    object
 1   총세대수                          456 non-null    int64
 2   임대건물구분                        456 non-null    object
 3   지역                            456 non-null    object
 4   공급유형                          456 non-null    object
 5   공가수                           456 non-null    float64
 6   자격유형                          456 non-null    object
 7   도보 10분거리 내 지하철역 수(환승노선 수 반영)  456 non-null    float64
 8   도보 10분거리 내 버스정류장 수            456 non-null    float64
 9   단지내주차면수                       456 non-null    float64
 10  등록차량수                         456 non-null    float64
 11  전용면적별세대수                      456 non-null    int64
 12  전용면적                          456 non-null    float64
 13  임대보증금                         456 non-null    float64
 14  임대료                           456 non-null    float64
dtypes: float64(8), int64(2), object(5)
memory usage: 53.6+ KB

In [135]:
df_gp = df_gp.drop('자격유형', axis = 1)

In [136]:
df_gp.describe()

,총세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,전용면적,임대보증금,임대료
count,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,456.000000,4.560000e+02,456.000000
mean,747.995614,13.947368,0.127193,3.697368,616.855263,588.868421,43.648162,2.598813e+07,183573.103386
std,428.674989,10.750184,0.388355,2.838602,373.976177,385.661145,12.154666,2.327210e+07,121078.317245
min,26.000000,0.000000,0.000000,0.000000,13.000000,13.000000,16.990000,0.000000e+00,0.000000
25%,455.250000,5.750000,0.000000,2.000000,338.000000,320.250000,35.952083,1.406058e+07,109507.714286
50%,656.500000,13.000000,0.000000,3.000000,542.500000,521.000000,43.633625,1.959875e+07,155280.833333
75%,955.500000,21.000000,0.000000,4.000000,853.000000,782.250000,48.578000,2.985389e+07,221094.500000
max,2568.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000,84.975000,2.051400e+08,970947.000000

In [137]:
df_gp = df_gp.drop(['지역','임대건물구분','공급유형','단지코드'], axis = 1)

In [138]:
X = df_gp[df_gp.columns.difference(['등록차량수'])]
y = df_gp['등록차량수']

In [70]:
from sklearn.ensemble import RandomForestRegressor

In [71]:
from sklearn.model_selection import GridSearchCV, KFold

In [139]:
rf_param_grid = {
    'n_estimators': [100, 150, 200, 250],
    'max_depth': [None, 6, 9, 12],
    'min_samples_split': [0.01, 0.05, 0.1],
    'max_features': ['auto', 'sqrt'],
}

In [140]:
rf = RandomForestRegressor()
kf = KFold(random_state = 0,
          n_splits = 10,
          shuffle = True)

In [141]:
rf_grid_search = GridSearchCV(estimator = rf,
                          param_grid = rf_param_grid,
                          cv = kf,
                          n_jobs = -1,
                          verbose = 2)

In [142]:
rf_grid_search.fit(X, y)

Fitting 10 folds for each of 96 candidates, totalling 960 fits

GridSearchCV(cv=KFold(n_splits=10, random_state=0, shuffle=True),
             estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [None, 6, 9, 12],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_split': [0.01, 0.05, 0.1],
                         'n_estimators': [100, 150, 200, 250]},
             verbose=2)

In [143]:
rf_grid_search.best_params_

{'max_depth': None,
 'max_features': 'auto',
 'min_samples_split': 0.01,
 'n_estimators': 250}

In [144]:
test_df = pd.read_csv('test.csv')

In [145]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [146]:
test_df = test_df.dropna()

In [147]:
test_df['임대보증금'] = test_df['임대보증금'].replace('-',0)
test_df['임대료'] = test_df['임대료'].replace('-',0)

In [148]:
test_df['임대보증금'] = test_df['임대보증금'].astype(int)
test_df['임대료'] = test_df['임대료'].astype(int)

In [149]:
test_df

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,0,0,0.0,1.0,467.0
1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0
1019,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000,106400,0.0,2.0,300.0
1020,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000,144600,0.0,2.0,300.0
1021,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000,166500,0.0,2.0,300.0

In [151]:
col = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '공가수',
       '자격유형', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수']

In [152]:
aggregation = {
    '전용면적':'mean',
    '임대보증금':'mean',
    '임대료':'mean'
}

In [169]:
test_df_gp = pd.DataFrame(test_df.groupby(col).agg(aggregation)).reset_index()

In [170]:
test_df_gp

,단지코드,총세대수,임대건물구분,지역,공급유형,공가수,자격유형,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,전용면적,임대보증금,임대료
0,C1003,480,아파트,경상남도,행복주택,29.0,J,0.0,3.0,339.0,32.136250,2.265000e+07,115875.000000
1,C1006,1505,아파트,대전광역시,영구임대,27.0,C,2.0,5.0,428.0,27.607500,6.058500e+06,83732.500000
2,C1016,643,아파트,경기도,국민임대,4.0,A,1.0,4.0,646.0,48.142500,2.402675e+07,228010.000000
3,C1019,321,아파트,제주특별자치도,국민임대,7.0,A,0.0,3.0,259.0,44.875000,1.485750e+07,126430.000000
4,C1030,75,아파트,경기도,행복주택,12.0,J,1.0,2.0,29.0,26.338333,5.141333e+07,214216.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,C2675,512,아파트,경기도,국민임대,9.0,A,0.0,3.0,1016.0,46.938750,3.456550e+07,233448.750000
164,C2676,2572,아파트,부산광역시,영구임대,25.0,C,0.0,2.0,418.0,28.020000,6.149000e+06,84983.333333
165,C2688,150,아파트,전라남도,국민임대,1.0,H,0.0,3.0,107.0,33.327500,8.198000e+06,120530.000000
166,C2688,150,아파트,전라남도,영구임대,1.0,C,0.0,3.0,107.0,24.625000,9.138000e+06,86695.000000
167,C2691,765,아파트,경기도,공공임대(10년),25.0,A,0.0,19.0,910.0,78.226667,7.066667e+07,560000.000000

In [154]:
test_df_gp = test_df_gp.drop('자격유형', axis = 1)

In [155]:
test_df_gp = test_df_gp.drop(['지역','임대건물구분','공급유형','단지코드'], axis = 1)

In [157]:
test_df_gp = test_df_gp[X.columns]

In [158]:
test_df_gp

,공가수,단지내주차면수,도보 10분거리 내 버스정류장 수,도보 10분거리 내 지하철역 수(환승노선 수 반영),임대료,임대보증금,전용면적,총세대수
0,29.0,339.0,3.0,0.0,115875.000000,2.265000e+07,32.136250,480
1,27.0,428.0,5.0,2.0,83732.500000,6.058500e+06,27.607500,1505
2,4.0,646.0,4.0,1.0,228010.000000,2.402675e+07,48.142500,643
3,7.0,259.0,3.0,0.0,126430.000000,1.485750e+07,44.875000,321
4,12.0,29.0,2.0,1.0,214216.666667,5.141333e+07,26.338333,75
...,...,...,...,...,...,...,...,...
163,9.0,1016.0,3.0,0.0,233448.750000,3.456550e+07,46.938750,512
164,25.0,418.0,2.0,0.0,84983.333333,6.149000e+06,28.020000,2572
165,1.0,107.0,3.0,0.0,120530.000000,8.198000e+06,33.327500,150
166,1.0,107.0,3.0,0.0,86695.000000,9.138000e+06,24.625000,150
167,25.0,910.0,19.0,0.0,560000.000000,7.066667e+07,78.226667,765

In [159]:
pred = rf_grid_search.best_estimator_.predict(test_df_gp)

In [160]:
test_df_gp['등록차량수_예측'] = pred

In [161]:
test_df_gp

,공가수,단지내주차면수,도보 10분거리 내 버스정류장 수,도보 10분거리 내 지하철역 수(환승노선 수 반영),임대료,임대보증금,전용면적,총세대수,등록차량수_예측
0,29.0,339.0,3.0,0.0,115875.000000,2.265000e+07,32.136250,480,303.707014
1,27.0,428.0,5.0,2.0,83732.500000,6.058500e+06,27.607500,1505,317.704928
2,4.0,646.0,4.0,1.0,228010.000000,2.402675e+07,48.142500,643,693.784052
3,7.0,259.0,3.0,0.0,126430.000000,1.485750e+07,44.875000,321,304.176377
4,12.0,29.0,2.0,1.0,214216.666667,5.141333e+07,26.338333,75,28.400842
...,...,...,...,...,...,...,...,...,...
163,9.0,1016.0,3.0,0.0,233448.750000,3.456550e+07,46.938750,512,973.776904
164,25.0,418.0,2.0,0.0,84983.333333,6.149000e+06,28.020000,2572,306.035501
165,1.0,107.0,3.0,0.0,120530.000000,8.198000e+06,33.327500,150,83.042663
166,1.0,107.0,3.0,0.0,86695.000000,9.138000e+06,24.625000,150,83.831606
167,25.0,910.0,19.0,0.0,560000.000000,7.066667e+07,78.226667,765,1098.231960

In [117]:
from xgboost import XGBRegressor

In [162]:
xgb_param_grid ={
    'max_depth' : [3,4,5,6] , 
    'n_estimators': [10, 50, 100, 200], 
    'learning_rate':[0.01, 0.05, 0.1], 
    'gamma': [0.5, 1, 2]
}

In [163]:
xgb = XGBRegressor()

In [164]:
xgb_grid_search = GridSearchCV(xgb, xgb_param_grid, cv = kf, n_jobs = -1, verbose = 2)

In [165]:
xgb_grid_search.fit(X, y)

Fitting 10 folds for each of 144 candidates, totalling 1440 fits
[00:04:30] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

GridSearchCV(cv=KFold(n_splits=10, random_state=0, shuffle=True),
             estimator=XGBRegressor(), n_jobs=-1,
             param_grid={'gamma': [0.5, 1, 2],
                         'learning_rate': [0.01, 0.05, 0.1],
                         'max_depth': [3, 4, 5, 6],
                         'n_estimators': [10, 50, 100, 200]},
             verbose=2)

In [166]:
pred_xgb = xgb_grid_search.best_estimator_.predict(test_df_gp.drop('등록차량수_예측', axis = 1))

In [167]:
test_df_gp['등록차량수_예측'] = pred_xgb

In [168]:
test_df_gp

,공가수,단지내주차면수,도보 10분거리 내 버스정류장 수,도보 10분거리 내 지하철역 수(환승노선 수 반영),임대료,임대보증금,전용면적,총세대수,등록차량수_예측
0,29.0,339.0,3.0,0.0,115875.000000,2.265000e+07,32.136250,480,278.244934
1,27.0,428.0,5.0,2.0,83732.500000,6.058500e+06,27.607500,1505,285.062195
2,4.0,646.0,4.0,1.0,228010.000000,2.402675e+07,48.142500,643,709.845276
3,7.0,259.0,3.0,0.0,126430.000000,1.485750e+07,44.875000,321,301.226685
4,12.0,29.0,2.0,1.0,214216.666667,5.141333e+07,26.338333,75,22.532753
...,...,...,...,...,...,...,...,...,...
163,9.0,1016.0,3.0,0.0,233448.750000,3.456550e+07,46.938750,512,1102.810425
164,25.0,418.0,2.0,0.0,84983.333333,6.149000e+06,28.020000,2572,226.988068
165,1.0,107.0,3.0,0.0,120530.000000,8.198000e+06,33.327500,150,69.832382
166,1.0,107.0,3.0,0.0,86695.000000,9.138000e+06,24.625000,150,41.213074
167,25.0,910.0,19.0,0.0,560000.000000,7.066667e+07,78.226667,765,1194.227051